<section class="bg-faded-primary d-flex min-vh-100 overflow-hidden py-5 fade-in">
  <div class="container d-flex justify-content-center pb-sm-3 py-md-4 py-xl-5">
    <div class="row align-items-center pt-5 mt-4 mt-xxl-0">
      <!-- Video + Parallax-->
      <div class="col-lg-5 mb-4 mb-lg-0 pb-3 pb-lg-0">
        <div class="parallax mx-auto mx-lg-0" style="max-width: 582px;">
        
          <div class="parallax-layer" data-depth="0.3"><img src="assets/img/landing/marketing-agency/hero/shape01.svg" alt="Background shape"></div>
          <div class="parallax-layer zindex-2" data-depth="-0.1"><img src="assets/img/landing/marketing-agency/hero/shape02.svg" alt="Background shape"></div>
          <div class="parallax-layer" data-depth="-0.15"><img src="assets/img/landing/marketing-agency/hero/shape03.svg" alt="Background shape"></div>
          <div class="parallax-layer zindex-2" data-depth="-0.25"><img src="assets/img/landing/marketing-agency/hero/shape04.svg" alt="Background shape"></div>
        </div>
      </div>
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-2 pb-2 mb-2"><span class='fw-normal'>JSM33T <code>SINGH</code></span></h1>
        <div class="row">
            <p class="mb-0 mx-2">Full Stack Web Developer / Electronic Music Producer</p>
        </div>
        <div class="d-sm-flex justify-content-center justify-content-lg-start pt-5 mt-lg-2">
          <a class="btn btn-lg btn-primary w-100 w-sm-auto mb-2 mb-sm-0 me-sm-1" target="_blank" href="https://github.com/JSM33T/"><i style="margin-right: 10px;" class="ai-github"></i>Github</a>
          <a class="btn btn-lg btn-link" href="https://almondcove.in" target="_blank">My Webspace: AlmondCove<i class="ai-arrow-right ms-2"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>


