<section class="bg-faded-primary d-flex min-vh-100 overflow-hidden py-5 fade-in">
  <div class="container d-flex justify-content-center pb-sm-3 py-md-4 py-xl-5">
    <div class="row align-items-center pt-5 mt-4 mt-xxl-0">
      <!-- Video + Parallax-->
      <div class="col-lg-5 mb-4 mb-lg-0 pb-3 pb-lg-0">
        <div class="parallax mx-auto mx-lg-0" style="max-width: 582px;">
        
          <div class="parallax-layer" data-depth="0.3"><img src="assets/img/landing/marketing-agency/hero/shape01.svg" alt="Background shape"></div>
          <div class="parallax-layer zindex-2" data-depth="-0.1"><img src="assets/img/landing/marketing-agency/hero/shape02.svg" alt="Background shape"></div>
          <div class="parallax-layer" data-depth="-0.15"><img src="assets/img/landing/marketing-agency/hero/shape03.svg" alt="Background shape"></div>
          <div class="parallax-layer zindex-2" data-depth="-0.25"><img src="assets/img/landing/marketing-agency/hero/shape04.svg" alt="Background shape"></div>
        </div>
      </div>
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-2 pb-2 mb-2"><span class='fw-normal'>JSM33T <code>SINGH</code></span></h1>
        <div class="row">
            <p class="mb-0 mx-2">Full Stack Web Developer / Electronic Music Producer</p>
        </div>
        <div class="d-sm-flex justify-content-center justify-content-lg-start pt-5 mt-lg-2">
          <a class="btn btn-lg btn-primary w-100 w-sm-auto mb-2 mb-sm-0 me-sm-1" target="_blank" href="https://github.com/JSM33T/"><i style="margin-right: 10px;" class="ai-github"></i>Github</a>
          <a class="btn btn-lg btn-link" href="https://almondcove.in" target="_blank">My Webspace: AlmondCove<i class="ai-arrow-right ms-2"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container pt-5 mt-lg-3 mt-xl-4 mt-xxl-5">
  <div class="pt-2 pt-sm-3 mt-md-3" >
    <h1 class="pb-3 mb-2 mb-sm-3 mb-lg-4">A Full Stack <span class='text-primary'>Web Developer</span> and an <span class='text-primary'>Electronic Music Producer</span></h1>
    <p class="fs-lg">
       I am a full-stack web developer with a strong focus on writing efficient business logic, specializing in  <span class='text-primary'>.NET, C#</span> (MVC,Web Api's,Razor Pages). I have successfully crafted and implemented intricate web applications that drive efficiency and results for businesses.
    Proficient in UI design using Bootstrap and have a command over <span class='text-primary'>Vue Js</span>, allowing me to create visually appealing and highly responsive user interfaces.
      I'm also in the early stages of my journey with <span class='text-primary'>Angular</span>, eagerly learning and expanding my skill set to become well-versed in this popular front-end framework.</p>
      <p class="fs-lg">
        Come the weekend, I dabble in music production and sound design. It's my escape into the realm of creativity, where I let my imagination roam free.
        I have a deep passion for urban exploration and photography. It's in these hobbies that I find the perfect blend of adventure and artistry, capturing the beauty of forgotten places and hidden gems.
        Everything available on <a target="_blank" href="https://almondcove.in"><span class="text-primary">almondcove.in</span></a> <span class="fs-sm text-muted"> (my personal web space)</span>
      </p>
    <div class="d-flex"><a class="btn btn-outline-secondary btn-icon btn-sm btn-instagram me-3" href="#"><i class="ai-instagram"></i></a><a class="btn btn-outline-secondary btn-icon btn-sm btn-facebook me-3" href="#"><i class="ai-facebook"></i></a><a class="btn btn-outline-secondary btn-icon btn-sm btn-youtube" href="#"><i class="ai-youtube"></i></a></div>
  </div>
</section>
<section class="container pt-5">
  <!-- Results-->

  <!-- Images-->
  <div class="row py-5 my-md-2 my-lg-3 my-xl-4 my-xxl-5">
   <div class="col-sm-7 mb-4 mb-sm-0">
     <div class="position-relative mb-4">
       <div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: #796194;" data-aos="zoom-in" data-aos-duration="700" data-aos-offset="250"></div><img class="position-relative zindex-2" src="assets/images/logo.png" alt="Image" data-aos="flip-right" data-aos-duration="400" data-aos-offset="250">
     </div>
     <div class="position-relative">
       <div class="bg-black position-absolute top-0 start-0 w-100 h-100" data-aos="zoom-in" data-aos-duration="700" data-aos-offset="250"></div><img class="position-relative zindex-2" src="assets/images/home/img2.png" alt="Image" data-aos="zoom-in" data-aos-duration="400" data-aos-offset="550">
     </div>
   </div>
   <div class="col-sm-5">
     <div class="position-relative">
       <div class="position-absolute top-0 start-0 w-100 h-100" style="max-height: 588px; background-color: #216d2a;" data-aos="zoom-in" data-aos-duration="700" data-aos-offset="250"></div><img class="position-relative zindex-2" src="assets/img/portfolio/single/v2/03.png" alt="Image" data-aos="zoom-in" data-aos-duration="400" data-aos-offset="350">
     </div>
   </div>
 </div>
 <!-- Stats-->
 <!-- <div class="row pt-sm-3 pt-md-4 pb-5 mb-sm-2 mb-md-3 mb-lg-4 mb-xl-5">
   <div class="col-md-7 col-xl-6 mb-4 mb-md-0">
     <p class="text-dark lead mb-0">The portfolio is under development!!  </p>
   </div>
   <div class="col-md-5 offset-xl-1">
     <div class="row row-cols-2 gx-3 gx-sm-4">
       <div class="col">
         <div class="h2 display-1 mb-0">30+</div>
         <p class="fs-sm mb-0">Different templates</p>
       </div>
       <div class="col">
         <div class="h2 display-1 mb-0">150</div>
         <p class="fs-sm mb-0">Happy clients all over the world</p>
       </div>
     </div>
   </div>
 </div> -->

 
</section>

